extends ../layout

block content
    section(class="container" style="padding-top:5rem")
        div.d-flex.justify-content-center.gap-10.flex-wrap
            each p in pizzas
                div(class="card") 
                    a(href="/pizza/"+p.id)
                        img(src=(p.img.startsWith('http') ? p.img : 'images/' + p.img), height="250")
                    h4 #{p.name.charAt(0).toUpperCase() + p.name.slice(1)}