extends ../layout

block content 
    section(class="container")
        div(class="d-flex gap-10" style="padding-top: 10rem;")
            div(class="flex-50")
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum temporibus non dignissimos saepe magni nulla quae! Voluptatem libero fugit beatae, sapiente, distinctio pariatur, cumque deleniti obcaecati odio aperiam voluptate unde.
            img(class="flex-50" style="object-fit:cover" src="images/pizza-hero.jpg")