extends ../layout

block content
    .container
        div(style="padding-top: 4rem;" class="d-flex gap-10")
            img(src="../images/"+pizza.img style="max-width: 50%;" class="flex-fill")
            div(class="flex-fill")
                h2(style="font-size:3rem; text-align: center") #{pizza.name}
                h4
                    span(style="font-weight:600") Prix : 
                    span #{pizza.price} €

